S3method(predict,crf)
S3method(summary,crf)
export(crf)
importFrom(rpart,rpart)
importFrom(stats,optim)
importFrom(stats,setNames)
importFrom(stats,terms)
importFrom(stats,predict)
importFrom(Rcpp,sourceCpp)
useDynLib(corrRF, .registration = TRUE)
